<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice</title>
</head>
<body>
  <center>  <div border=1px style="padding: 1in; background-color: azure; color: black; height: 500px; width: 300px; ">
<h1>Rayans Mart</h1>

        <h2>Thank you {{ a }} for shopping with us.</h2>
<h3><b>{{ a }} </b></h3>
<h3>{{ b }}</h3>
<h3>The item you bought is {{ c }}</h3>
<h3>Total Cost is  {{ e }}</h3>
<h3>20% discount for you.</h3>
<h3>Total after 20% discount is <b> {{ f }} </b></h3>
<br><br><br>
<small>
Thank You for shopping in our mart. </small>
<small>Come Again</small>

</div>
</center>
    
</body>
</html>