<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h2>Welcome to rayans Shopping mart</h2>
    <form name="myform" action="/postdata/" method="POST">
    <input type="text" name="uname" id="user1" placeholder="Username">
    <br>
    <br>
    <textarea name="address" id="" cols="30" rows="10" placeholder="Address"></textarea>
    <br>
    <h6>Price is 200 for each product</h6>
    <select name="choose" multiple size="6">
        <optgroup label="Home Products">
         <option  value="Pickle">Pickle</option>
        
        <option value="Kissan_jam">Kissan_jam</option> 
        <option value="Bread">Bread</option>
    </optgroup>
    <optgroup label="Electronics">
         <option  value="Mobile">Mobile</option> 
         <option value="Battery">Torch</option> 
         <option value="watch">watch</option>
        </optgroup>
         </select>
         <br>
         <br>
         <input type="text" name="qty" id="" placeholder="Qunatity">
         <br>
         <br>
         <input type="submit" name="" id="" value="Submit">

         <input type="reset" value="cancel" name="" id="">

        </form>



</body>
</html>